<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NRW Freestyle Cup</title>
    {% lightningcss "assets/css/main.css" %}
    {% lightningcss "assets/css/print.css", "print" %}
</head>
<body>
    {% if isPreview %}
      <div id="preview">Vorschau!</div>
    {% endif %}
    
    <header>
      {% image "assets/img/nrw-freestyle-cup.svg" "NRW Freestyle Cup Logo" %}
      <h1>NRW Freestyle Cup</h1>
      <p>15.03. - 16.03.2025</p>
      <p>SSV Nümbrecht</p>
    </header>
    <main>{{content}}</main>
</body>
</html>