@font-face {
  font-family: 'Andy';
  src: url(/assets/fonts/Andy-Bold.woff2) format('woff2');
}

#preview {
  position: absolute;
  top: 0;
  right: 1rem;
  background: #E2001A;
  color: #fff;
  padding: 0.5rem 1rem;
  transform-origin: center center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #ddd;
}

header {
  background: #002D56;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;

  & img {
    height: 50dvh;
    max-height: 20rem;
  }

  &::after {
    content: "";
    display: block;
    height: 0.5rem;
    background: linear-gradient(
      to right,
      #009036,
      #009036 33%,
      #000 33%,
      #000 67%,
      #e2001a 67%,
      #e2001a
    );
  }
}

main {
  background: #fff;

  &::after {
    content: "";
    display: block;
    height: 0.5rem;
    background: linear-gradient(
      to right,
      #009036,
      #009036 33%,
      #000 33%,
      #000 67%,
      #e2001a 67%,
      #e2001a
    );
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Andy', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, table {
  padding: 0 1rem;
  margin: 1em 0 0.5em;
}

h1 {
  text-align: center;
}

table {
  margin: 1rem;
  border-collapse: collapse;
}

td, th {
  padding: 0.5rem;
  border: 1px solid #ddd;
  vertical-align: top;
}

ul, ol {
  padding-left: 3rem;
}

hr {
  opacity: 0;
}
