@page {
  size: A4;
  margin: 2rem 0;
}

@page:first {
  margin: -1px 0 0 0;
}

.hide-print {
  display: none !important;
}

body {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

header {
  height: 100vh;

  & nav {
    display: none;
  }
}

hr {
  break-before: page;
}

table,
figure,
ul,
ol {
  page-break-inside: avoid;
}