@page {
  size: A4;
  margin: 2rem 0;
}

@page:first {
  margin: -1px 0 0 0;
}

.hide-print {
  display: none !important;
}

body {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;

  grid-template-columns: 1fr 90% 1fr;
}

nav {
  display: none;
}

header {
  & img {
    min-height: 0;
    height: 7rem;
    max-height: 100%;
  }
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-tempalte-rows: auto auto auto;
  grid-template-areas:
    "logo title"
    "logo date"
    "logo club";
  justify-items: start;
  align-items: center;

  & img {
    grid-area: logo;
  }

  & #event-title, & #event-date, & #event-club {
    margin: .3rem 0;
  }

  & #event-title {
    grid-area: title;
  }

  & #event-date {
    grid-area: date;
  }

  & #event-club {
    grid-area: club;
  }

  padding-bottom: 2rem;
}

footer {
  display: none;
}

hr {
  break-before: page;
}

table,
figure,
ul,
ol {
  page-break-inside: avoid;
}

#preview {
  position: fixed;
}